<div class="container">
    <h2 class="text-center"><i class="fas fa-solid fa-trophy"></i> TORNEOS <i class="fas fa-solid fa-trophy"></i></h2>
    <div class="row justify-content-center justify-content-md-end">
        <button class="btn btn-primary btn-lg col-8 col-md-3 col-lg-2 my-4"><i class="fas fa-solid fa-plus"></i> Torneo</button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th class="text-center" scope="col">#</th>
                <th class="text-center" scope="col">Torneo</th>
                <th class="text-center" scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="text-center" scope="row">1</th>
                <td class="text-center">Clausura 2020</td>
                <td class="text-center">
                    <button class="btn btn-secondary">Ver <i class="fas fa-solid fa-eye"></i></button>
                </td>
            </tr>
            <tr>
                <th class="text-center" scope="row">2</th>
                <td class="text-center">Clausura 2020</td>
                <td class="text-center">
                    <button class="btn btn-secondary">Ver <i class="fas fa-solid fa-eye"></i></button>
                </td>
            </tr>
            <tr>
                <th class="text-center" scope="row">3</th>
                <td class="text-center">Clausura 2020</td>
                <td class="text-center">
                    <button class="btn btn-secondary">Ver <i class="fas fa-solid fa-eye"></i></button>
                </td>
            </tr>
            <tr>
                <th class="text-center" scope="row">4</th>
                <td class="text-center">Clausura 2020</td>
                <td class="text-center">
                    <button class="btn btn-secondary">Ver <i class="fas fa-solid fa-eye"></i></button>
                </td>
            </tr>
            <tr>
                <th class="text-center" scope="row">5</th>
                <td class="text-center">Clausura 2020</td>
                <td class="text-center">
                    <button class="btn btn-secondary">Ver <i class="fas fa-solid fa-eye"></i></button>
                </td>
            </tr>
        </tbody>
    </table>

    <nav  aria-label="torneos navegacion">
        <ul class="pagination  justify-content-center">
            <li class="page-item"><a class="page-link" href="#"><i class="fas fa-solid fa-arrow-left"></i>
                    Anterior</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Siguiente <i
                        class="fas fa-solid fa-arrow-right"></i></a>
            </li>
        </ul>
    </nav>
</div>